h1{
    text-align: center;
}

body{
    background-color: #2C2C2C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #E0E0E0;
    text-shadow: #ffd21ed2 0.5px 0 3px;
}
img{
    border-radius: 15%;
}
img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
figcaption{
    width: 225px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-top: 9px;
}